/* Variables */
:root {
  --main-color: #212121;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--main);
}
/* шапка */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.accent {
  color: #000000;
}
ul {
  list-style: none;
}
.contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.main {
  background-color: #2f303a;
}
.main-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
button {
  color: white;
  background-color: #2196f3;
  border: 0ch;
  cursor: pointer;
}
button:hover,
button:focus,
button:active {
  color: #ffffff;
}
.filter button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
.filter button:hover,
.filter button:focus,
.filter button:active {
  color: #ffffff;
  background-color: #2196f3;
}
.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.activity-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hidden {
  display: none;
}
.link {
  color: #212121;
  text-decoration: none;
}
.list .link:hover,
.list .link:focus {
  color: #2196f3;
}
.link:hover {
  color: #2196f3;
}
.third-level-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.second-level-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.employee-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Footer */
.footer {
  background-color: #2f303a;
  font-style: normal;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer-logo .accent {
  color: #ffffff;
}

.geolocation-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #acacb0;
  color: #ffffff;
  text-decoration: none;
}

.footer-list .geolocation-link:hover,
.footer-list .geolocation-link:focus {
  color: #2196f3;
}

.footer-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: #2196f3;
}